{block content}

    <section>
        <div class="row my-5 justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card shadow rounded">
                    <div class="card-body px-2 py-5">
                        <div class="text-center mb-2">
                            <h3>"Cookies", aneb informace o sušenkách 🍪</h3>
                            <hr>
                            <p>
                                Na našem webu používáme cookies, malé textové soubory. 🍪 Nebojte se, neukládáme do nich žádné citlivé informace a nesdílíme je s nikým dalším. Nesledujeme prohlížeče, druh zařízení a ani podobné informace.
                            </p>
                            <h5>K čemu cookies slouží?</h5>
                            <p>
                                Cookies nám pomáhají zapamatovat si vaše přihlášení k účtu. Po odhlášení z webu nebo vypršení relace se cookies automaticky smažou – a zmizí jako pára 💨 nad hrncem.
                            </p>
                            <h5>Jen pro přihlášení</h5>
                            <p>
                                Data v cookies slouží výhradně pro účely přihlášení a nic víc. Vaše soukromí je pro nás důležité 🤝.
                            </p>
                            <h5>Správa cookies</h5>
                            <p>
                                Většinu cookies můžete spravovat v nastavení vašeho prohlížeče. Můžete je blokovat nebo smazat. Upozorňujeme však, že některé funkce webu pak nemusí fungovat správně.
                            </p>
                            <h5>Máte dotaz?</h5>
                            <p>
                                Pokud vás cokoliv zajímá ohledně cookies, neváhejte nás kontaktovat.<br><br>
                                <a href="fyzionature@gmail.com" class="btn btn-outline-warning shadow"><i class="bi bi-envelope"></i> napište nám</a>
                            </p>
                            <p>Děkujeme, že jste si přečetli naše informace o cookies 🍪.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{/block}
