{block content}
	<section class="hero">
		<div class="container py-5">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-6 text-center text-md-start">
					<h1 class="display-4 fw-bold mb-3">Fyzionature: Cesta k celostnímu zdraví</h1>
					<h4 class="mb-4">Bc. Lucie Čepeláková - Fyzioterapeutka</h4>

					<p class="lead mb-4">
						Vítejte ve Fyzionature, kde nabízíme komplexní fyzioterapeutické
						služby pro děti i dospělé. Zaměřujeme se na odstranění Vašich
						obtíží, prevenci a zlepšení kvality Vašeho života ve všech jeho
						aspektech. Kromě klasických fyzioterapeutických metod u nás
						najdete i podporu regenerace bylinnými přípravky a celostní
						přístup k Vašim zdravotním problémům. Naším cílem je najít a
						řešit příčiny Vašich obtíží, nejen jejich symptomy.
					</p>
				</div>

				<div class="col-md-4 offset-md-1 shadow py-3">
					<div style="width: 12rem; height: 12rem; border-radius: 50%; overflow: hidden; margin: 0 auto; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);">
						<img
								src="{$basePath}/me.webp"
								alt="Bc. Lucie Čepeláková"
								class="img-fluid"
								style="width: 100%; height: 100%; object-fit: cover; object-position: center; display: block;"
						/>
					</div>
					<div class="mt-4 text-center">
						<h3 class="h4 mb-3">O mně 💬</h3>
						<p class="small">
							👋 Jmenuji se Lucie a jsem fyzioterapeutka s vášní pro celostní
							přístup k lidskému zdraví. 🌿 Již během studia fyzioterapie na ZČU v
							Plzni mě fascinovaly alternativní pohledy na
							nemoc a její příčiny. ✈️ To mě vedlo až do Číny, kde jsem na
							Zhejiang Chinese Medical University studovala tradiční čínskou
							medicínu. ☯️
						</p>
						<a n:href="Home:about" class="btn btn-secondary">Více o mně</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{/block}